@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap");
/* Basic page style resets */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  margin: 0;
}

h1, p {
  margin: 0;
}

.background {
  background-repeat: no-repeat;
  min-height: 0;
}
.background:first-child {
  background-color: #b9b9e7;
  background-image: url("./../../assets/img/image1-shadow.png");
}
.background:nth-child(2) {
  background-color: #ffce70;
  background-image: url("./../../assets/img/image2.png");
  background-position: right bottom;
}
.background:nth-child(3) {
  background-color: #ff5166;
  background-image: url("./../../assets/img/image3.png");
  background-position: right bottom;
}
.background:nth-child(4) {
  background-color: rgba(255, 30, 165, 0.4);
  background-image: url("./../../assets/img/image4.png");
  background-position: right bottom;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}
.content-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.4;
  color: #0a306a;
}
.content-subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  color: #424547;
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .background {
    height: 100vh;
  }
  .background:first-child {
    background-size: 500px auto;
    background-position: left bottom;
  }
  .background:nth-child(2) {
    background-size: 415px auto;
    background-position: right bottom;
  }
  .background:nth-child(3) {
    background-size: 300px auto;
    background-position: right bottom;
  }
  .background:nth-child(4) {
    background-size: 300px auto;
    background-position: right bottom;
  }

  .content-title {
    font-size: 30px;
  }

  .content-subtitle {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .background {
    height: 100vh;
  }
  .background:first-child {
    background-position: left bottom;
  }
  .background:nth-child(2) {
    background-position: right bottom;
  }
  .background:nth-child(3) {
    background-position: right bottom;
  }
  .background:nth-child(4) {
    background-position: left 68px bottom;
  }

  .content-wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 10vh;
  }
}
@media (min-width: 992px) {
  body {
    overflow: hidden;
  }

  .background {
    background-repeat: no-repeat;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  }
  .background:first-child {
    background-color: #b9b9e7;
    background-image: url("./../../assets/img/image1-shadow.png");
    background-position: right 15px bottom 15vh;
    transform: translateY(-15vh);
  }
  .background:first-child .content-wrapper {
    transform: translateY(15vh);
  }
  .background:nth-child(2) {
    background-color: #ffce70;
    background-image: url("./../../assets/img/image2.png");
    background-position: left bottom 15vh;
  }
  .background:nth-child(3) {
    background-color: #ff5166;
    background-image: url("./../../assets/img/image3.png");
    background-position: right 15px bottom 15vh;
  }
  .background:nth-child(4) {
    background-color: rgba(255, 30, 165, 0.4);
    background-image: url("./../../assets/img/image4.png");
    background-position: left bottom 15vh;
  }

  /* Set stacking context of slides */
  .background:nth-child(1) {
    z-index: 3;
  }

  .background:nth-child(2) {
    z-index: 2;
  }

  .background:nth-child(3) {
    z-index: 1;
  }

  .content-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    transform: translateY(40vh);
    will-change: transform;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
  }
  .content-title {
    font-size: 64px;
  }
  .content-subtitle {
    font-size: 24px;
  }

  .content-container {
    max-width: 40%;
  }

  .background.up-scroll {
    transform: translate3d(0, -15vh, 0);
  }
  .background.up-scroll .content-wrapper {
    transform: translateY(15vh);
  }
  .background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0);
  }
  .background.up-scroll + .background .content-wrapper {
    transform: translateY(30vh);
  }

  .background.down-scroll {
    transform: translate3d(0, -130vh, 0);
  }
  .background.down-scroll .content-wrapper {
    transform: translateY(40vh);
  }
  .background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0);
  }
  .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
    transform: translateY(15vh);
  }
}
/* Layout styles */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.ml-auto {
  margin-left: auto;
}

/* Buttons */
.button-secondary, .button-primary {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  color: black;
  display: inline-block;
  border-radius: 7px;
  height: 55px;
  line-height: 55px;
  text-decoration: none;
  padding: 0 40px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  width: max-content;
  box-shadow: 0 6px 13px 2px rgba(0, 0, 0, 0.11);
}
[disabled].button-secondary, [disabled].button-primary, .inactive.button-secondary, .inactive.button-primary, .disabled.button-secondary, .disabled.button-primary {
  opacity: 60%;
  pointer-events: none;
}
.button-secondary:focus, .button-primary:focus {
  outline: none;
  box-shadow: none;
}

.button-primary {
  background-color: rgba(255, 81, 102, 0.7);
}
.button-primary:active {
  background: rgba(255, 30, 57, 0.7);
}
.button-primary:hover:not([disabled]), .button-primary[hover] {
  background-color: rgba(255, 132, 147, 0.7);
}

.button-secondary {
  background-color: #F0AF2F;
}
.button-secondary:active {
  background: #dc9710;
}
.button-secondary:hover:not([disabled]), .button-secondary[hover] {
  background-color: #f3c15f;
}

/*# sourceMappingURL=style.css.map */
